<div class="card mt-3 pointer" (click)="showDetails()">
    <div class="row">
        <div class="col-sm-8">
             <div class="row mt-2 ml-2">
                <div class="col-sm-4">
                      Program
                </div>
                <div class="col-sm-4">
                      {{data.author}}
                </div>
                <div class="col-sm-4 text-right">
                      {{data.published | date }}
                </div>
                <div class="col-sm-12"><hr></div>
                <div class="col-sm-12">
                      <h4>{{data.title}}</h4>
                </div>
                <div class="col-sm-12">
                     <p>{{data.description}}</p>
                </div>
             </div>
        </div>
        <div class="col-sm-4">
            <img [src]="data.picturePath" class="img-fluid p-4" alt="Responsive image" [style.height.px]="200">
        </div>
    </div>
</div>