<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pointer" [routerLink]="['/home']" >
      <img src="/assets/fitin.png" width="50" height="50" class="d-inline-block align-top" alt="">
      <span class="fitin-logo fitin-color pointer" [routerLink]="['/home']" >FITiN</span>
    </a>
    

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0 text-uppercase">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fitin-color pointer" id="trening" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trening
          </a>
          <div class="dropdown-menu" aria-labelledby="trening">
            <a class="dropdown-item fitin-color pointer" [routerLink]="['/programs']">Programi</a>
            <a class="dropdown-item fitin-color pointer" [routerLink]="['/programs']">Vježbe</a>
            <a class="dropdown-item fitin-color pointer" [routerLink]="['/cardios']">Cardio</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fitin-color pointer" id="prehrana" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prehrana
          </a>
          <div class="dropdown-menu" aria-labelledby="prehrana">
            <a class="dropdown-item fitin-color pointer" [routerLink]="['/cardios']">Mišićna masa</a>
            <a class="dropdown-item fitin-color pointer" [routerLink]="['/cardios']">Plan prehrane</a>
            <a class="dropdown-item fitin-color pointer" [routerLink]="['/cardios']">Recepti</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control mr-sm-2 dropdown-toggle" id="search" type="text" placeholder="Pretraži po naslovu..." data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [(ngModel)]="searchByTitle" (ngModelChange)="searchArticle()" name="searchByTitle">
          <div class="dropdown-menu pointer" aria-labelledby="search" *ngIf="searchByTitle != '' ">
            <a  *ngFor="let article of search" class="dropdown-item" (click)="details(article.id)">{{article.title}}</a>
          </div>
        </div>
       <div class="btn-group">
        <button type="button" class="btn fitin-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-search"></i>
        </button>
        <div class="dropdown-menu pointer">
          <a class="dropdown-item" (click)="searchTerm = 'programs'">Programi</a>
          <a class="dropdown-item" (click)="searchTerm = 'cardios'">Cardio</a>
        </div>
      </div>
      </form>
    </div>
  </nav>
</div>

<div>
  <div class="container">
      <div class="row mt-3">
        <div class="col-md-8 offset-md-1">

            <!-- Views -->
            <router-outlet></router-outlet>

        </div>  
        <!-- Right side navigation -->
          <div class="col-md-2 hidden-sm-down">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn fitin-success btn-block pointer" (click)="showModal()">Prijavi se</button>
                </div>
                <div class="col-md-12 mt-2">
                  <button type="button" class="btn fitin-success btn-block pointer">Registriraj se</button>
                </div>
                <div class="col-md-12 mt-3">
                  <ul class="sidebar nav flex-column bg-faded">
                    <li class="nav-item">
                      <a class="nav-link active fitin-color pointer" [routerLink]="['/home']">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fitin-color" [routerLink]="['/programs']">PROGRAMI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fitin-color pointer" [routerLink]="['/programs']">VJEŽBE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fitin-color pointer" [routerLink]="['/cardios']">CARDIO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fitin-color pointer" [routerLink]="['/cardios']">RECEPTI</a>
                    </li>
                    <li class="nav-item">
                      <a *ngIf="isLogged" class="nav-link fitin-color" [routerLink]="['/dashboard']">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a *ngIf="isLogged" class="nav-link fitin-color pointer" (click)="logout()">Logout</a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 bg-faded">
  <div class="row">
      <div class="col-sm-2 offset-sm-2">
         <h5 class="mt-5">O NAMA</h5>
         <p>Fitin tim nastao je 2016 godine.</p>
         <p>Pružamo novosti iz svijeta sporta i nutricionizma</p>
      </div>
      <div class="col-sm-4">
         <h5 class="text-center mt-5">WEB MAPA</h5>
        <ul class="nav flex-column">
          <li class="nav-item  text-center">
            <a class="nav-link"[routerLink]="['/home']"><button class="btn fitin-success btn-sm" [style.width.px]="97">HOME</button></a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link" [routerLink]="['/programs']"><button class="btn fitin-success btn-sm" [style.width.px]="97">PROGRAMI</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" [routerLink]="['/programs']">><button class="btn fitin-success btn-sm" [style.width.px]="97">VJEŽBE</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" [routerLink]="['/cardios']">><button class="btn fitin-success btn-sm" [style.width.px]="97">CARDIO</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" [routerLink]="['/cardios']">><button class="btn fitin-success btn-sm" [style.width.px]="97">RECEPTI</button></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
         <h5 class="text-left mt-5">PRATITE NAS</h5>
         <div class="text-left">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x fitin-color" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-2x ml-4 fitin-color" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin fa-2x ml-4 fitin-color" aria-hidden="true"></i></a>
         </div>
         <br>
         <div>
           <label>Ne propustite novosti</label>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Email adresa">
              <button class="btn fitin-success my-2 my-sm-0" type="submit">Prijava</button>
            </form>
         </div>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-sm-12">
          <p class="text-center">Sva prava pridržana © FITiN tim</p>
      </div>
  </div>
</div>



<!--Login modal-->
<div bsModal #lgModal="bs-modal" class="modal fade mt-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
      <div class="modal-body">
            <form (keydown.enter)="$event.target.tagName == 'TEXTAREA'" #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" #name="ngModel" placeholder="Enter username" [(ngModel)]="username" name="username" required>
                   <div *ngIf="name.errors && (name.dirty || name.touched)">
                      <div [hidden]="!name.errors.required">
                          <label class="text-danger">Username name is required.</label>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password"  #pwd="ngModel" placeholder="Password" [(ngModel)]="password" name="password" required minlength="8">
                  <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)">
                      <div [hidden]="!pwd.errors.required">
                          <label class="text-danger">Password is required.</label>
                      </div>
                        <div [hidden]="!pwd.errors.minlength">
                          <label class="text-danger">Password should be at least 8 characters long.</label>
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn fitin-success pointer"  [disabled]="!loginForm.form.valid">Login</button>
                <button type="button" class="btn btn-default pointer" (click)="lgModal.hide()">Close</button>
            </form>
      </div>
    </div>
  </div>
</div>