<form #articleForm="ngForm"  (ngSubmit)="addNew(articleForm)">
  <div class="form-group">
      <label for="select">Select category</label>
      <select id="select" #ctgry (change)="category = ctgry.value">
          <option value="" disabled>Category</option>
          <option value="programi">Programi</option>
          <option value="vjezbe">Vježbe</option>
          <option value="cardio">Cardio</option>
          <option value="recepti">Recepti</option>
      </select>
  </div>
  <div class="form-group mt-4">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter article title" [(ngModel)]="title" name="title"> 
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3" [(ngModel)]="description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" rows="3" [(ngModel)]="content" name="content"></textarea>
  </div>
   <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Author name" [(ngModel)]="author" name="author">
  </div>
  <div class="form-group">
      <label for="select">Select picture</label>
      <select id="select" #pic (change)="picture = pic.value">
          <option value="" disabled>Picture</option>
          <option value="assets/prehrana.jpg">Prehrana</option>
          <option value="assets/prehrana2.jpg">Proteini</option>
          <option value="assets/prehrana3.jpg">Kolaci</option>
          <option value="assets/snaga.jpg">Snaga</option>
          <option value="assets/cucanj.jpg">Ćućanj</option>
      </select>
  </div>
  <button type="submit" class="btn fitin-success pointer">ADD ARTICLE</button>
</form>