/* You can add global styles to this file, and also import other style files */

.fitin-logo {
    font-size: 34px;
    font-weight: 900;
}

.fitin-color{
    color:rgb(0, 150, 136) !important;
}

.fitin-success {
  color: #fff;
  background-color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}

.fitin-success:hover {
  color: #fff;
  background-color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}

.fitin-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgb(0, 150, 136);
          box-shadow: 0 0 0 2px rgb(0, 150, 136); 
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.pointer{
   cursor: pointer;
}
